* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 "Montserrat", sans-serif;
}

#page-landing {
    background-color: #151516;
    background: url('../images/custom-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

#page-landing .container {
    padding: 0 4rem;
}

header {
    width: 100%;
}

#menu-hamburguer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 4rem;
}

#logo { 
    display: flex;
    justify-content: center;
    min-height: 10rem;
    width: 100%;
    margin-top: 4rem;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: italic;
    width: 100%;
    line-height: 1.5;
    text-align: center;
    font-weight: 700;
}

.home-content h1 {
    margin-top: 4rem;
    font-size: 3.6rem;
    color: #FFFFFF;
}


#slogan h1 {
    margin: 12rem 0 4rem 0;
    padding: 0 4rem;
    font-size: 1.4rem;
}

.home-content span {
    display: block;
    color: #FFFFFF;
    line-height: 2;
    text-align: center;
    font-size: 1.4rem;
}

.button {
    margin: 5.2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 22rem;
    min-height: 4.5rem;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 300;
}

.button span {
    margin-top: 0.7rem;
    margin-right: 1rem;
}

#social-media {
    min-height: 100%;
    margin: 0 auto;
    width: 20rem;
    margin-top: 5.2rem;
}

#social-media span {
    margin-bottom: 1.2rem;
}

#social-media .social-icons {
    display: flex;
    justify-content: space-between;
}

.swipe-up {
    margin-top: 0.9rem;
}

.swipe-up span {
    font-size: 1rem;
}

/* --- CONTENT --- */

.container-content {
    height: 100vh;
    padding: 2rem 4rem 2rem 4rem;
    background-color: #FFFFFF;
    line-height: 2;
}

.container-content h1 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.container-content>p {
    margin-top: 2rem;
    text-align: justify;
}

.topic {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic-row {
    display: flex;
    align-items: center;
}

.topic-row p {
    margin-left: 2rem;
}

.topic-row + .topic-row {
    margin-top: 4rem;
}

.separador {
    min-height: 20rem;
    background: url('../images/drag-star-slide.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}