* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 "Montserrat", sans-serif;
}

.container {
    width: 100vw;
    min-height: 100vh;

    margin: 0;
    padding: 0;
}

.top-bar,
.swipe-up {
    display: flex;

    background-color: #151516;
}

#menu-hamburguer {
    position: absolute;
    right: 0;

    margin-top: 3rem;
    padding: 4rem;
}

#logo { 
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    min-height: 10rem;
    min-width: 100%;

    padding: 1rem;

    margin: 2rem 0 2rem 0;

    color: #fff;
}

#logo h1 {
    line-height: 2;
}

#logo span {
    font-size: 1.4rem;
}

#slogan p {
    width: 100%;

    font-size: 1.6rem;
    color: #FFFFFF;
    text-align: center;
}

#image-slider {
    padding: 2rem;
    background: gray;

    height: 47rem;
    width: 100%;

    position: relative;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 15s linear infinite 0s;
    animation-timing-function: ease-in-out;
}

/*-- CSS trick to set opacity in background
it has to set position:relative in father and son elements --*/

#image-slider::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8)
}
/*-- --*/

.slider-text {
    position: relative;
}

#slogan h1 {
    padding: 2rem;

    font-size: 2.4rem;
    font-weight: 200;

    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.button {
    margin: 5.2rem auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #FFFFFF;
    border-radius: 10px;

    width: 22rem;
    min-height: 4.5rem;

    color: #FFFFFF;

    font-size: 1.4rem;
    font-weight: 300;
}

.button span {
    margin-top: 0.7rem;
    margin-right: 1rem;
}

#social-media {
    display: block;
    color: #FFFFFF;
    line-height: 2;
    text-align: center;
    font-size: 1.4rem;

    margin: 0 auto;
    width: 20rem;
}

#social-media span {
    margin-bottom: 1.2rem;
}

#social-media .social-icons {
    display: flex;
    justify-content: space-between;
}

.swipe-up {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;

    height: 10rem;
}

.swipe-up span {
    font-size: 1.4rem;
}

.swipe-up span+span {
    margin-left: 2rem;
}

/* --- CONTENT --- */

.container-content {
    width: 100vw;
    height: 100vh;

    padding: 2rem 4rem 2rem 4rem;

    background-color: #FFFFFF;

    line-height: 2;

    position: relative;
}

.container-content h1 {
    font-size: 1.6rem;

    margin-bottom: 2rem;
}

.container-content>p {
    margin-top: 2rem;

    text-align: justify;
}

.topic {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic-row {
    display: flex;
    align-items: center;
}

.topic-row p {
    margin-left: 2rem;
}

.topic-row + .topic-row {
    margin-top: 4rem;
}

.depoiments {
    background: #151516;

    font-size: 1.4rem;

    height: 20rem;
    width: 100%;

    padding: 2rem;

    position: absolute;
    right: 0;
    bottom: 0;

    color: #FFFFFF;
}

.depoiments :nth-child(2) {
    text-align: end;
}

.dots {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.separador {
    min-height: 40rem;
    background: url('../images/drag-star-slide.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}


@keyframes slideBg {
    0% {
        background-image: url('/images/bg/drag-star-bg.jpg');
    }

    25% {
        background-image: url('/images/bg/harley-bg.jpg');
    }

    50% {
        background-image: url('/images/bg/lateral-bg.jpg');
    }

    75% {
        background-image: url('/images/bg/moto-lateral-bg.jpg');
    }

    100% {
        background-image: url('/images/bg/sissy-bg.jpg');
    }
}